body {
  background-color: rgb(233, 105, 216);
}

h1 {
  color: black;
  background-color: lightblue;
}

h3 {
  color: black;
  background-color: lightsalmon;
}

div {
  margin: 10px;
  border:5px dashed lightyellow;
  padding: 7px;
  color: black;
}
